{% extends 'base.html' %}


{% block title %} {{ title }} {% endblock %}

{% block content %}
<section class="courses">
    <div class="wrapper">
        <h2>Courses</h2>
        {% for course in courses %}
        <article class="course-article">
            <a href="/course/{{ course.link }}" class="course-name">{{ course.name }}</a>
            <p class="course-desc">{{ course.desc }}</p>
            <span class="course-price">{{ course.price }}</span>
        </article>
        {% endfor %}
    </div>
</section>
<section class="categories">
    <div class="wrapper">
        <h2>Categories</h2>
        {% for category in categories %}
        <article class="category-article">
            <a href="#" class="category-name">{{ category.name }}</a>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock content %}